.hejo{
    color: darksalmon;
    font-size: 37px;
    font-weight: bold;
}
.input{
    padding: 10px;
    border: 2px solid darksalmon;
    border-radius: 11px;
    outline: none;
}
.submit{
    background-color: darksalmon;
    color: white;
    padding: 10px;
    border: 1px solid darksalmon;
    border-radius: 11px;
    outline: none;
}
.submit:hover{
    background-color: indianred;
    cursor: pointer;
}